
.mianBanner {
    background-color: #15151e;
    color: white;
    text-align: center;
    padding: 64px 16px;
  }
  .mianBanner_content_title{
      font-size: 56px;
  }
  .mianBanner_content_text{
      font-size: 36px;
  }
  .mainBanner_header{
      background-color: #E10600;
  }
  .mainBanner_header_container{
      padding: 16px;
  }
  .mainBanner_header_icon_container{
      width: fit-content;
      display: flex;
      align-items: center;
  }
  .mainBanner_header_icon_text{
    color: white;
    font-weight: bold;
    margin-left: 14px;
  }
  .mainBanner_header_icon_image{
      width: 60px;
      height: 20px;
  }